aiogram,          
aiohttp     ,       
aiosignal   ,       
async-timeout  ,    
asyncio        ,    
attrs          ,    
Babel          ,    
certifi          ,  
charset-normalizer ,
dnspython          ,
frozenlist       ,  
idna          ,     
motor         ,    
multidict    ,      
pymongo      ,     
pytz         ,      
yarl        ,      
